<nav class="navbar fixed-bottom navbar-light bg-light border-top">
  <div class="container d-flex justify-content-around text-center">
    <button class="btn btn-link" onclick="loadPage('tool')">
      <div><i class="fas fa-robot"></i></div>
      <small>Tool</small>
    </button>
    <button class="btn btn-link" onclick="loadPage('packages')">
      <div><i class="fas fa-gem"></i></div>
      <small>Gói</small>
    </button>
    <button class="btn btn-link" onclick="loadPage('account')">
      <div><i class="fas fa-user"></i></div>
      <small>Tài khoản</small>
    </button>
  </div>
</nav>